body {
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
h3:hover {
    color: yellowgreen;
}
p:hover {
    color: yellowgreen;
}
h2:hover {
    color: yellowgreen;
}